* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e8e9ec;
    color: black;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

p { text-align: center; }

h1 {
    font-size: 34px;
    color: #3282b8; }

@media screen and (prefers-reduced-motion: reduce) {
    .container {
        scroll-behavior: auto;
    }
}

.container {
    width: 100%;
    height: 100%;
    /* Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* Navigation Bar */
nav {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    min-height: 8vh;
    background: rgba(0,0,0,0.7);
}

.nav-links {
    display: flex;
    padding: 20px;
    width: 40%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}

.nav-links a:hover {
    color: #3282b8;
    transition: 0.3s;
}

@media screen and (max-width: 600px) {
    .nav-links {
        width: 60%;
    }
    .nav-links a {
        padding-right: 10px;
    }
}

/* Sections */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* Snap Effect */
    scroll-snap-align: center;
}

section h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1em;
    color: #3282b8;
}

section p {
    font-size: 1.5rem;
}

section#home {
    height: 100vh;
    background: url('images/background-image.jpg') no-repeat center center/cover;
}

section#resume {
    height: 100vh;
}

section#contact {
    height: 100vh;
}

/* Icons */
i {
    color: black;
    font-size: 2.5rem;
    cursor: default;
    list-style: none;
    opacity: 0.6;
    transition: 0.4s;
}

i:hover {
    color: #3282b8;
    opacity: 1;
    transition: 0.4s;
    cursor: pointer;
}

ul.icons li {
    display: inline-block;
    padding: 1em 1.3em 0 0;
}

/* Labeled Icons */
ul.labeled-icons {
    color: black;
    list-style: none;
    text-align: left;
}

ul.labeled-icons li {
    padding: 1em 0 0 0;
}

ul.labeled-icons i {
    font-size: 2em;
    cursor: pointer;
}

.label-font {
    font-size: 1em;
}

/* Buttons */
.button {
    background-color: transparent;
    border-radius: 0.35em;
    border: solid 3px black;
    opacity: 0.6;
    text-decoration: none;
}

.button a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5em;
    text-align: center;
}

.button:hover {
    opacity: 1;
    transition: 0.4s;
    border: solid 3px #3282b8;
}

.button:hover a {
    transition: 0.4s;
    color: #3282b8;
}

.proj-button {
    display: block;
    margin: auto;
    width: 130px;
    padding: 0.3em;
    opacity: 0.6;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border-radius: 0.35em;
    border: solid 3px black;
}

.proj-button a {
    font-size: 1em;
    color: black;
    text-decoration: none;
}

.proj-button:hover {
    opacity: 1;
    transition: 0.4s;
    border: solid 3px #3282b8;
    color: #3282b8;
}

.proj-button:hover a {
    transition: 0.4s;
    color: #3282b8;
}

/* Projects */
#projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#projects .project-container {
    width: 100%;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#projects .project-info h1 {
    font-size: 2rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}


/* Project Carousel */
.carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
}

.carousel .carousel-image,
.carousel .carousel-image-hidden {
    display: none;
}

.carousel .carousel-image img{
    max-width: 600px;
    width: 100%;
    height: auto;
}

.carousel .carousel-image-visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel-actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #3282b8;
    color: white;
}

.carousel .carousel-actions button#carousel-prev-btn {
    margin-left: 20px;
}

.carousel .carousel-actions button#carousel-next-btn {
    margin-right: 20px;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

/*#projects .carousel-image {
    display: flex;
    flex-basis: 50%;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 15px;
}*/

img {
    border: 1px solid black;
}

ul {
    padding-left: 25px;
}

/* Responsive */
/* Tablet */
@media only screen and(min-width:768px) {
    #projects .project-item {
        flex-direction: row;
    }

    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .all-projects .project-info {
        height: 100%;
    }

    #projects .all-projects .project-image {
        height: 100%;
    }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
    #projects .project-container .project-item {
        flex-basis: 22%;
        margin:1.5%;
    }
}