* {
    margin: 0;
    padding: 0;
}

body {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Poppins', sans-serif;
    background: #e8e9ec;
    color: black;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

p { text-align: center; }

@media screen and (prefers-reduced-motion: reduce) {
    .container {
        scroll-behavior: auto;
    }
}

.container {
    width: 100%;
    height: 100%;
    /* Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;

    /* Snap Effect */
    /*scroll-snap-type: y mandatory;*/
}

/* Navigation Bar */
nav {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    min-height: 8vh;
    background: rgba(0,0,0,0.7);
}

.nav-links {
    display: flex;
    padding: 20px;
    width: 40%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}

.nav-links a:hover {
    color: #3282b8;
    transition: 0.3s;
}

@media screen and (max-width: 600px) {
    .nav-links {
        width: 60%;
    }
    .nav-links a {
        padding-right: 10px;
    }
}

/* Sections */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* Snap Effect */
    scroll-snap-align: center;
}

section h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1em;
}

section p {
    font-size: 1.5rem;
}

section#home {
    background: url('images/background-image.jpg') no-repeat center center/cover;
}

/* Icons */
i {
    color: black;
    font-size: 2.5rem;
    cursor: default;
    list-style: none;
    opacity: 0.6;
    transition: 0.4s;
}

i:hover {
    color: #3282b8;
    opacity: 1;
    transition: 0.4s;
}

ul.icons li {
    display: inline-block;
    padding: 1em 1.3em 0 0;
}

/* Labeled Icons */
ul.labeled-icons {
    color: black;
    list-style: none;
    text-align: left;
}

ul.labeled-icons li {
    padding: 1em 0 0 0;
}

ul.labeled-icons i {
    font-size: 2em;
}

.label-font {
    font-size: 1em;
}

/* Buttons */
.button {
    background-color: transparent;
    border-radius: 0.35em;
    border: solid 3px black;
    opacity: 0.6;
    text-decoration: none;
}

.button a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5em;
    text-align: center;
}

.button:hover {
    opacity: 1;
    transition: 0.4s;
    border: solid 3px #3282b8;
}

.button:hover a {
    transition: 0.4s;
    color: #3282b8;
}

.proj-button {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: 5px auto;
    background-color: transparent;
    border-radius: 0.35em;
    border: solid 3px black;
    padding: 0.3em;
    opacity: 0.6;
    text-align: center;
    text-decoration: none;
    width: 130px;
    color: black;
}

.proj-button a {
    font-size: 1em;
    color: black;
    text-decoration: none;
}

.proj-button:hover {
    opacity: 1;
    transition: 0.4s;
    border: solid 3px #3282b8;
    color: #3282b8;

}

.proj-button:hover a {
    transition: 0.4s;
    color: #3282b8;
}

/* Projects */
.proj-container {
    padding: 10px;
    width: 95%;
}

.proj-container table {
    text-align: left;
}

.proj-container ul {
    padding-left: 20px;
}

.proj-container h3 {
    text-align: center;
}

.proj-section-left {
    position: relative;
    height: 100%;
    width: 46%;
    float: left;
    padding-left: 10px;
    border-radius: 0.35em;
    border: 1px solid black;
}

.proj-section-right {
    position: relative;
    height: 100%;
    width: 46%;
    float: right;
    padding-left: 10px;
    border-radius: 0.35em;
    border: 1px solid black;
}

/* Slider - Left Side */
.slider-left {
    width: 200px;
    height: 400px;
    top: 5px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.slides-left {
    width: 500%;
    height: 400px;
    display: flex;
}

.slides-left input {
    display: none;
}

.slide-left {
    width: 20%;
    transition: 2s;
}

.slide-left img {
    width: 200px;
    height: 400px;
}

/* Slider - Right Side */
.slider-align-right {
    display: flex;
    justify-content: center;
}

.slider-right {
    width: 350px;
    height: 250px;
    top: 5px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.slides-right {
    width: 500%;
    height: 250px;
    display: flex;
}

.slides-right input {
    display: none;
}

.slide-right {
    width: 20%;
    transition: 2s;
}

.slide-right img {
    width: 350px;
    height: 250px;
}

/* Slider Buttons */
.navigation-manual {
    display: flex;
    position: absolute;
    width: 100%;
    padding: 5px;
    bottom: 0;
    left: 0;
    justify-content: center;
    background: black;
}

.slider-btn {
    border: 2px solid #3282b8;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.slider-btn:not(:last-child) {
    margin-right: 40px;
}

.slider-btn:hover {
    background: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
     margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: 0;
}

#radio5:checked ~ .first {
    margin-left: -20%;
}

#radio6:checked ~ .first {
    margin-left: -40%;
}


/* New Carousel */
.carousel-container-left {
    width: 195px;
    height: 400px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 0.35em;
}

.carousel-slide-left {
    width: 500%;
    height: 400px;
    display: flex;
}

.carousel-container-right {
    width: 350px;
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 0.35em;
    justify-content: center;
    border: 2px solid black;
}

.carousel-slide-right {
    width: 500%;
    height: 250px;
    display: flex;
}

#prevBtn1 {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: black;
    opacity: 0.7;
    cursor: pointer;
}

#nextBtn1 {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: black;
    opacity: 0.7;
    cursor: pointer;
}

#prevBtn2 {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: black;
    opacity: 0.7;
    cursor: pointer;
}

#nextBtn2 {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: black;
    opacity: 0.7;
    cursor: pointer;
}