* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

@media screen and (prefers-reduced-motion: reduce) {
    .container {
        scroll-behavior: auto;
    }
}

.container {
    width: 100%;
    height: 100%;
    /* Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;

    /* Snap Effect */
    scroll-snap-type: y mandatory;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.7);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: skyblue;
}

/* Sections */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* Snap Effect */
    scroll-snap-align: center;
}

section h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1em;
}

section p {
    font-size: 1.5rem;
}

section#home {
    background: url('images/space.jpg') no-repeat center center/cover;
}

/* Icons */
i {
    color: #fff;
    font-size: 2.5rem;
    cursor: default;
    list-style: none;
    opacity: 0.6;
    transition: 0.4s;
}

i:hover {
    color: white;
    opacity: 1;
    transition: 0.4s;
}

ul.icons li {
    display: inline-block;
    padding: 1em 1.3em 0 0;
}

/* Labeled Icons */
ul.labeled-icons {
    color: #fff;
    list-style: none;
    text-align: left;
}

ul.labeled-icons li {
    padding: 1em 0 0 0;
}

ul.labeled-icons i {
    font-size: 2em;
}

.label-font {
    font-size: 1em;
}

/* Buttons */
.button {
    background-color: transparent;
    border-radius: 0.35em;
    border: solid 3px #fff;
    opacity: 0.6;
}

.button:hover {
    opacity: 1;
    transition: 0.4s;
    border: solid 3px #fff;
}

.button a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5em;
}

.proj-button {
    background-color: transparent;
    border-radius: 0.35em;
    border: solid 3px #fff;
    opacity: 0.6;
    text-align: center;
    width: 10px;
}

.proj-button:hover {
    opacity: 1;
    transition: 0.4s;
    border: solid 3px #fff;
}

.proj-button a {
    color: #fff;
    text-decoration: none;
}

/* Projects */
.proj-container {
    border: 3px solid #fff;
    padding: 20px;
    width: 95%;
}

.proj-container table {
    text-align: left;
}

.proj-container ul {
    padding-left: 20px;
}

.proj-container h3 {
    text-align: center;
}

.proj-section-left {
    position: relative;
    width: 46%;
    float: left;
    border: 1px solid red;
    padding-left: 10px;
}

.proj-section-right {
    position: relative;
    width: 46%;
    float: right;
    border: 1px solid blue;
    padding-left: 10px;
}

/* Carousel - Left Side */
.slider-left {
    width: 200px;
    height: 400px;
    top: 5px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid pink;
}

.slides-left {
    width: 500%;
    height: 400px;
    display: flex;
}

.slides-left input {
    display: none;
}

.slide-left {
    width: 20%;
    transition: 2s;
}

.slide-left img {
    width: 200px;
    height: 400px;
}

/* Slider - Right Side */
.slider-right {
    width: 350px;
    height: 250px;
    top: 5px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid pink;
}

.slides-right {
    width: 500%;
    height: 250px;
    display: flex;
}

.slides-right input {
    display: none;
}

.slide-right {
    width: 20%;
    transition: 2s;
}

.slide-right img {
    width: 350px;
    height: 250px;
}

/* Slider Buttons */
.navigation-manual {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    justify-content: center;
    background: gray;
    border: 2px solid mediumpurple;
}

.manual-btn {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: purple;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
     margin-left: -40%;
 }

#radio4:checked ~ .first{
    margin-left: 0;
}
#radio5:checked ~ .first{
    margin-left: -20%;
}
#radio6:checked ~ .first{
    margin-left: -40%;
}

.carousel {
    align-items: center;
    display: flex;
    margin: 2rem auto;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.carousel-images {
    display: flex;
    transform: translate(0);
    transition: 0.25s;
}
